@model Activity;

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h1>Create an Activity</h1>
    </div>
    <div class="col-md-6">
      <a href="/home" class="btn btn-primary">Home</a>
      <a href="/Logout" class="btn btn-danger text-right">Logout</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form asp-action="CreateActivity" asp-controller="Home" method="POST">
        <div class="form-group">
          <span asp-validation-for="Title" class="text-danger"></span>
          <label asp-for="Title" class="control-label"></label>
          <input asp-for="Title" class="form-control">
        </div>
        <div class="form-group">
          <span asp-validation-for="Time" class="text-danger"></span>
          <label asp-for="Time" class="control-label"></label>
          <input asp-for="Time" class="form-control" type="time">
        </div>
        <div class="form-group">
          <span asp-validation-for="Date" class="text-danger"></span>
          <label asp-for="Date" class="control-label"></label>
          <input asp-for="Date" class="form-control" type="date">
        </div>
        <div class="form-group">
          <span asp-validation-for="Duration" class="text-danger"></span>
          <label asp-for="Duration" class="control-label"></label>
          <input asp-for="Duration" class="form-control" type="Number" min="0">
        </div>
        <div class="form-group">
          <span asp-validation-for="DurationType" class="text-danger"></span>
          <label asp-for="DurationType" class="control-label"></label>
          <select class="form-control" asp-for="DurationType">
              <option value="Days">Days</option>
              <option value="Hours">Hours</option>
              <option value="Minutes">Minutes</option>
          </select>
        </div>
        <div class="form-group ">
          <span asp-validation-for="Description" class="text-danger"></span>
          <label asp-for="Description" class="control-label"></label>
          <textarea class="form-control" asp-for="Description" rows="10"></textarea>
        </div>
        <div class="form-group">
          <input class="btn btn-primary" type="submit" />
        </div>
      </form>
    </div>
  </div>

</div>
